.Button {
  display: inline-block;
  padding: var(--space-075) calc(var(--space-1) * 1.5);
  font-family: var(--body-font);
  font-size: var(--body-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.5px;
  line-height: 1.15;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  appearance: none;
  background-color: var(--gray);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--white);
  cursor: pointer;
  user-select: none;
  transition: all 200ms ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &.Button--small {
    padding: var(--space-05) var(--space-075);
    font-size: var(--body-small);
  }

  &.Button--primary {
    background-color: var(--teal);
    color: var(--white);

    &:hover,
    &:active {
      background-color: var(--teal-dark);
      color: var(--white);
    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--white);
    }
  }
  &.Button--CTAyellow {
    font-size:22px;
    padding: 10px 40px 10px 40px;
    margin-top:15px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight:300;

  }
  &.Button--CTAteal {
    font-size:22px;
    padding: 10px 40px 10px 40px;
    margin-top:15px;
    background-color: var(--teal);
    color: var(--white);
    font-weight:300;

  }
  &.Button--CTAblue {
    font-size:22px;
    padding: 10px 40px 10px 40px;
    margin-top:15px;
    background-color: var(--blue-medium);
    color: var(--white);
    font-weight:300;

  }
  &.Button--yellow {
    background-color: var(--yellow);
    color: var(--white);

    &:hover { background-color: var(--yellow-light); }
    &:hover { background-color: var(--yellow-dark); }
    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--yellow-dark);
  
    }
  }

  &.Button--teal-light {
    background-color: var(--teal-dark);
    color: var(--white);

    &:hover,
    &:active {
      background-color: var(--teal);
    }

    &:after {

    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--teal-dark);
    }
  }

  &.Button--inverse {
    background-color: var(--teal-light);
    color: var(--teal-dark);

    &:hover,
    &:active {
      background-color: var(--teal);
      color: var(--teal-dark);
    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--teal-dark);
    }
  }

  &.Button--blue {
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background-color: var(--blue-dark);
      color: var(--white);
    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--white);
    }
  }

  &.Button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--white);
    color: var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--teal);

      & .Icon path,
      & .Icon polygon,
      & .Icon rect {
        fill: var(--teal);
      }
    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--white);
    }
  }

  &.Button--outline-dark {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--gray-dark);
    color: var(--gray-dark);

    &:hover {
      background-color: var(--gray-lighter);
      color: var(--gray-dark);

      & .Icon path,
      & .Icon polygon,
      & .Icon rect {
        fill: var(--gray-dark);
      }
    }

    & .Icon path,
    & .Icon polygon,
    & .Icon rect {
      fill: var(--gray-dark);
    }
  }

  & .Button__text-wrap {
    display: inline-block;
  }

  & .Button__text {
    display: inline-block;
    width: 100%;

    white-space: nowrap;
  }

  & .Icon {
    display: inline-block;
    transform: translateY(1px);

    &.Icon--angle-up,
    &.Icon--angle-right,
    &.Icon--angle-down,
    &.Icon--angle-left { font-size: 0.75em; }
  }

  & .Button__tablet-text {
    display: none;

    @media (--breakpoint-md) {
      display: inline-block;
    }
  }

  & .Button__desktop-text {
    display: none;

    @media (--breakpoint-lg) {
      display: inline-block;
    }
  }
}

.Button--share {
  display: flex;
  margin-right: var(--space-1);
  padding: var(--space-05) var(--space-075);
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid currentColor;
  color: inherit;

  &:hover,
  &[aria-expanded="true"] {
    background-color: var(--white);
    color: var(--blue-darker);
  }

  &:last-child { margin-right: 0; }

  & .Button__text {
    display: inline;
    margin-left: var(--space-025);
    font-size: var(--body-small);
  }
}

.Button--icon {
  padding: 0;
  background: transparent;
  border: 0;
  color: inherit;

  & .Button__text {
    display: inline;
    font-size: var(--body-small);
  }
}

.Button--block {
  display: block;
}
