.InlineImg {
  display: flex;
  margin: 0 0 var(--space-1) 0;
  align-items: center;
  flex-direction: column;

  @media (--breakpoint-md) {
    margin: 0 0 var(--space-2) 0;
    flex-direction: row;
  }
}

.InlineImg__photo {
  margin: 0 auto;
  height: 10rem;
  width: 10rem;

  @media (--breakpoint-md) {
    align-self: flex-start;
  }
}

.InlineImg__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.InlineImg__content {
  padding-top: var(--space-1);
  flex: 1;

  @media (--breakpoint-md) {
    padding-top: 0;
    padding-left: var(--space-2);
  }

  & :--all-headings:first-child {
    margin-bottom: var(--space-1);
  }
}
