.SplitMenu {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (--breakpoint-md) {
    flex-direction: row;
  }

  & .SplitMenu__col {
    position: relative;
    width: 100%;

    @media (--breakpoint-md) {
      width: 50%;
    }
  }

  & .SplitMenu__col--left {
    padding-bottom: var(--space-05);

    @media (--breakpoint-md) {
      padding-bottom: 0;
      padding-right: var(--space-2);
    }
  }

  & .SplitMenu__col--right {
    padding-top: var(--space-05);

    @media (--breakpoint-md) {
      padding-top: 0;
      padding-left: var(--space-2);
    }
  }

  & .SplitMenu__bg {
    display: flex;
    margin: 0 auto var(--space-2);
    max-width: 300px;
    align-items: center;
    flex-direction: column;
  }

  & .SplitMenu__link {
    background-color: var(--teal);
    color: var(--white);
    transition: all 0.15s ease;

    &:hover {
      color: var(--white);
      opacity: 0.9;
    }
  }

  & .SplitMenu__icon {
    position: relative;
    z-index: var(--z1);
    box-sizing: content-box;
    height: 45px;
    min-height: 45px;
    min-width: 45px;
    padding: var(--space-05) var(--space-075) var(--space-05) calc(var(--space-1) * 1.25);
    width: 45px;

    & .Icon {
      display: block;
      width: 100%;
    }

    & .Icon .Icon__color-1 { fill: var(--white); }
    & .Icon .Icon__color-2 { fill: var(--lighten-1); }
  }

  & .SplitMenu__arrow {
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
    font-size: var(--body-larger);
    background-color: var(--teal-dark);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transition: transform 0.15s ease;
  }

  & .SplitMenu__list {
    margin-top: var(--space-1);
    margin-bottom: var(--space-2);
    padding: 0;
    width: 100%;
    font-size: var(--body-large);
    list-style: none;

    @media (--breakpoint-md) {
      width: auto;
    }

    & li {
      position: relative;
      padding-left: calc(var(--space-1) * 1.5);
    }

    & li::before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0;
      display: block;
      height: 2px;
      width: 10px;
      background-color: var(--blue);
      border-radius: var(--border-radius);
    }
  }
}
