.button {
  @apply appearance-none inline-block py-2 px-4 font-bold text-base leading-normal text-center no-underline bg-gray rounded shadow-md text-black uppercase tracking-widest;

  &:focus {
    @apply outline-none shadow-outline;
  }

  @nest .label > &:first-of-type:not(:last-child) {
    @apply rounded-r-none;
  }

  @nest .label > & + .button {
    @apply border-l-0 rounded-l-none rounded-r-none;
  }

  @nest .label > &:last-child:not(:only-child) {
    @apply rounded-l-none rounded-r;
  }
}

.button--block,
.button--full {
  @apply block w-full;
}

.button--sm {
  @apply py-1 px-3 text-base;
}

.button--md {
  @apply py-2 px-5 text-lg;
}

.button--lg {
  @apply py-2 px-5 text-xl;
}

.button--xl {
  @apply py-3 px-6 text-2xl;
}

.button--primary {
  @apply bg-yellow text-white;

  &:hover,
  &:focus {
    @apply bg-yellow-dark;
  }
}

.button--blue {
  @apply bg-blue text-white;

  &:hover,
  &:focus {
    @apply bg-blue-dark;
  }
}

.button--blue-dark {
  @apply bg-blue-dark text-white;
  background-image: linear-gradient(#317991, #205263);

  &:hover,
  &:focus {
    @apply bg-blue-darker;
  }
}

.button--green {
  @apply bg-green text-white;
  background-image: linear-gradient(#81c33b, #6db533);

  &:hover,
  &:focus {
    @apply bg-green-dark;
  }
}

.button--gray-light {
  @apply bg-gray-light text-black;

  &:hover,
  &:focus {
    @apply bg-gray;
  }
}

.button--gray {
  @apply bg-gray text-black;

  &:hover,
  &:focus {
    @apply bg-gray-dark;
  }
}

.button--gray-dark {
  @apply bg-gray-dark text-black;

  &:hover,
  &:focus {
    @apply bg-gray-darker;
  }
}

.button--teal {
  @apply bg-teal text-white;

  &:hover,
  &:focus {
    @apply bg-teal-dark;
  }
}

.button--teal-dark {
  @apply bg-teal-dark text-white;

  &:hover,
  &:focus {
    @apply bg-teal-darker;
  }
}

.button--white {
  @apply bg-white text-yellow;

  &:hover,
  &:focus {
    @apply bg-gray-lighter;
  }
}

.button--outline {
  @apply bg-transparent border border-current;

  &.button--primary {
    @apply text-yellow;

    &:hover {
      @apply bg-transparent text-yellow-dark;
    }
  }
}

.button--mobile-menu {
  @apply flex flex-col items-center justify-center p-1 leading-tight shadow-none;

  @screen md {
    @apply hidden;
  }

  & > span {
    @apply block leading-none text-sm tracking-normal uppercase text-gray-darker;
  }
}

.button--navigation-close {
  @apply absolute flex flex-col items-center justify-center p-1 m-0 text-yellow leading-tight shadow-none;
  top: 13px;
  right: 13px;

  @media (--breakpoint-md) {
    @apply hidden;
  }

  & > span {
    @apply block leading-none text-sm tracking-normal uppercase text-gray-darker;
  }
}
