/**
 * Fonts
 */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/sourceserifpro-regular.woff2') format('woff2'),
       url('../fonts/sourceserifpro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/sourceserifpro-bold.woff2') format('woff2'),
       url('../fonts/sourceserifpro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'mesohub';
  src: url('../fonts/mesohub.woff2') format('woff2'),
       url('../fonts/mesohub.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: System;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src:
    local('.SFNSText-Light'),
    local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'),
    local('Ubuntu Light'),
    local('Segoe UI Light'),
    local('Roboto-Light'),
    local('DroidSans'),
    local('Tahoma');
}
